body{
        background-color: rgb(1, 31, 63);
        
        text-align: center;
}
h1{
    font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    margin:  5%;
    color: #FEF2BF;
}
.btn{
    height: 200px;
    width:200px;
    background-color: aqua;
    margin:20px;
    border-radius:15%;
    display:inline-block;
    border: 10px solid black;
}
.container{
    display:block;
    width:50%;
    margin:auto;
}
.red{
    background-color: red;
}
.blue{
    background-color:blue;
}
.green{
    background-color:green;
}
.yellow{
    background-color:yellow;
}
.pressed{
    background-color: grey;
    box-shadow: 0 0 20px white;
}
.game-over {
    background-color: red !important; 
    opacity: 0.8;
  }
  .pick{
    background-color: black;
    box-shadow: 0 0 20px white;
  }